/* Configurações inicial */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background: var(--white);
    height: 100%;
}

:root {
    --very-dark: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish: hsl(303, 10%, 53%);
    --light-grayish: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* Fim Configurações inicial */

/* Background Image  */

body {
    background-image:
        url('../img/bg-pattern-top-desktop.svg'),
        url('../img/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 38% 44%, 74% 90%;
    background-attachment: fixed;
}

/* Fim Background Image  */

/* Conteudo Top */

.container-top {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.header {
    max-width: 400px;
}

.header .titulo {
    color: var(--very-dark);
    font-weight: 700;
    font-size: 5.0rem;
    line-height: 40px;
    margin-bottom: 15px;
}

.header .text-top {
    font-size: 1.6rem;
    color: var(--dark-grayish);
    line-height: 20px;
    font-weight: 400;
}

.rated-container {
    width: 490px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rated-card {
    padding: 17px 43px 17px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: var(--light-grayish);
    text-align: center;
}

.rated-image img {
    margin-right: 6px;
}

.rated-image {
    display: flex;
}

.rated-text h2 {
    font-size: 1.5rem;
    color: var(--very-dark);
    font-weight: 700;
    margin-left: 25px;
}

.card-top-1 {
    align-self: flex-start;
}

.card-top-2 {
    align-self: center;
}

.card-top-3 {
    align-self: flex-end;
}

/* Fim Conteudo Top */

/* Conteudo Bottom */

.container-bottom {
    display: flex;
    max-width: 1110px;
    min-height: 265px;
    margin: 0 auto 50px auto;
    margin-top: 50px;
    justify-content: space-between;
}

.card-bottom {
    background-color: var(--very-dark);
    border-radius: 10px;
    width: 350px;
    height: 235px;
    padding: 39px;
}

.card-bottom:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px hsla(300, 43%, 22%, 0.637);
}

.card-colton {
    align-self: flex-start;
}

.card-irene {
    align-self: center;
}

.card-anne {
    align-self: flex-end;
}

.container-image-name {
    display: flex;
    align-items: center;
}

.image-perfil {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.image-perfil .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-name-perfil {
    text-align: center;
}

.name-perfil {
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--light-grayish);
    margin-bottom: 4px;
}

.verified {
    font-size: 1.7rem;
    font-weight: lighter;
    color: var(--soft-pink);
}

.text-perfil {
    color: var(--light-grayish);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 25px;
    margin-top: 25px;
}

/* Fim Conteudo Bottom */

/* Responsivo */

@media (max-width:1060px) {

    body {
        height: 100%;
        padding: 0 25px;
    }

    .container-top {
        flex-direction: column;
        margin-top: 75px;
    }

    .header {
        text-align: center;
        margin: 0 auto 35px auto;
    }

    .header .titulo {
        font-size: 4.0rem;
    }

    .header .text-top {
        font-size: 1.8rem;
        line-height: 25px;
    }

    .rated-container {
        min-width: 200px;
        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .rated-card {
        text-align: center;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .rated-text,
    .rated-text h2 {
        margin-top: 7px;
        font-size: 1.7rem;
        margin-left: 0;
    }

    .container-bottom {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 60px;
    }

    .card-bottom {
        margin-bottom: 20px;
        padding: 33px;
        width: 100%;
        min-width: 200px;
        max-width: 350px;
    }

    .card-colton,
    .card-irene,
    .card-anne {
        align-self: center;
        width: 100%;
        height: auto;
    }
}

/* Fim Responsivo */